<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<div id="container">
    <form action="{{ url_for('auth') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" name="user">
        <label for="password">Password:</label>
        <input type="password" name="pass">
        <div id="lower">
            <input type="submit" value="Login">
        </div>
    </form>
</div>

<p> {{msg}} </p>

</body>
</html>